body{
  margin: 0;
  padding: 0;
}
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: right;
    position: fixed;
    top: 0;
    left: -20px;
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: #080233;
    z-index: 1000;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  
  nav ul li {
    margin: 0;
    padding: 0 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #9ecf0c;
  }

  #home h1{
    
    text-align: center;
    font-size: 80px;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
  }
  #cars h1, #calling h1, .about h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif ;
  }
  #home p{
    text-align: center;
    font-size: 15px;
    margin-bottom: 0%;
    
}
#home{
      display: inline-flexbox;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgb(19, 19, 201) 30%,
        rgb(18, 18, 66) 100%
      );
        margin: 0;
        padding: 200px;
        
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: -2;
}


.product {
  background-color:rgb(32, 103, 227);

  width: 250px;
  padding: 10px;
  border: 1px solid hsl(249, 44%, 51%);
  border-radius: 5px;
  box-shadow: 2px 2px 5px #0b0b0b;
  display: inline-block;
  margin: 10px 29px;
  position: relative;
  left: 60px;
  overflow: hidden;
  
}
.product:hover{
  background-color: #f8f8f8;
  color: black;
}


.product img {
  width: 250px;
  height: 260px;
  object-fit: cover;
}

.product h2 {
  font-size: 16px;
  margin-top: 5px;
  color: #0c0c0c;
}

.product p {
  color: #0b0b0b;
  font-size: 14px;
  margin-top: 5px;
}

#calling ul{
list-style-type: none;
}
#calling ul li{
  font-size: 40px;
  font-weight: lighter;
  font-family:'Courier New', Courier, monospace;
}
.fa{
  padding: 30px;
  font-size: 2%;
  border-radius: 50svh;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}
.fa:hover{
  opacity: .7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background:linear-gradient(#eb0e0e, rgb(85, 85, 164));
  color: white;
}
.fa-whatsapp{
  background: rgb(23, 175, 12);
  color: white;
}

.about{
  color: #f8f8f8;
  letter-spacing: 1px;
  word-spacing: 4px;
  opacity: 1;
  padding:30px 60px;
  text-align: center;
  font-size: 2.5vw;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.ceo{
  background: radial-gradient(
    rgb(68, 23, 231),
    rgb(38, 17, 197)
  );
}

  .about h1{
    font-weight: bold;
    background-color: #0c0c0c;
    border: none;
    padding: 10px;
  }
  .about h1:hover{
    background: white;
    color: black
  }

  .logo{
  position: fixed;
  z-index: 1010;
  float: left;
  width: 100px;
  height: 100px;
  display: flex;
  }
  footer{
    background-color: #080233;
    color: white;
    text-align: center;
    font-size: medium;
    padding-top: 60px;
    padding-bottom: 60px;
  }
